os:
  - linux
  #- osx
before_install:
  - sudo apt-get update
  # Cscope and ctags
  - sudo apt install cscope exuberant-ctags
  # Latest version of arduino-cli
  - mkdir -p ${HOME}/local/bin
  - curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | BINDIR=${HOME}/local/bin sh
  # Install arduino-esp32 for testing
  - arduino-cli core install --additional-urls https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json esp32:esp32@1.0.6
env:
  - PATH="${PATH}:${HOME}/local/bin"
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.9-dev" # 3.9 development branch
  - "nightly" # nightly build
# command to install dependencies
install:
  - pip install -r requirements.txt
  - chmod +x arduino-cscope-ctags
# command to run tests
script:
  - pytest "test/"
